---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Manuscripts and preprints are in preparation. A detailed publication list will be added soon.

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<ul>
  <li>
    <strong>Wei-Jhih Huang</strong>, Jin-Min Yang, Ning Ma, Sheng-Liang Wu, Chih-Wei Huang, "Deviation-Aware Trajectory Embedding for Fine-Tuning Triggering in DRL-Based Wireless Network Resource Management,"</em><br>
    IEEE Wireless Communications and Networking Conference (WCNC) 2026, April 13-16, Kuala Lumpur, Malaysia.
  </li>
</ul>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



